@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Titan+One&display=swap');

.App {
  text-align: center;
  font-family: 'Titan One', cursive;
  color: rgb(15, 96, 112);
  background-image: url('../public/lou-levit-0lHIMPhRtN8-unsplash.jpg');
  background-repeat: no-repeat, repeat;
  background-position: cover;
  min-height: 100vh;
}

.container {
  max-width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color:rgb(2, 63, 116);
  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-inline: 15rem;
}
